<%- include("partials/header"); -%>

<!--custom style-->
<link href="css/user.css" rel="stylesheet">

</head>

<!--body-->

<body class="start">

  <%- include("partials/nav"); -%>

  <main role="main">
    <div class="container">
      <!-- Code starts here-->
      <form class="row signup" method="post" action="/signup">
        <div class="col-12">

          <div class="slide-holder <%= statusCode == 200 ? "hidden" : "" %>">
            <div class="slide-page justify-content-center shadow mb-5 rounded">
              <div class="mb-4">
                <p class="info-title mb-4">회원가입</p>
                <% if (message != "") { %>
                <div class="alert alert-<%= statusCode == 200 ? "success" : "danger" %>" role="alert">
                  <%= message %>
                </div>
                <%}%>
              </div>

              <div class="pt-2">
                <div class="row">

                  <div class="col-md-6 pl-4 pr-5">
                    <div class="form-group row mb-4">
                      <label for="name" class="col-sm-3 col-form-label">성명</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="gender" class="col-sm-3 col-form-label">성별</label>
                      <div class="col-sm-9">
                        <select class="form-select" id="gender" name="gender" required>
                          <option value="">선택</option>
                          <option value="M">남성</option>
                          <option value="F">여성</option>
                          <option value="O">기타</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="birth" class="col-3 col-form-label">생년월일</label>
                        <div class="col-9">
                          <div class="row">
                            <div class="col-6">
                              <input type="" id="yy" name="yy" placeholder="년(4자)" class="form-control" maxlength="4" required>
                            </div>
                            <div class="col-3">
                              <select id="mm" name="mm" class="form-control" aria-label="월" required>
                                <option value="">월</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                            </div>
                            <div class="col-3">
                              <input type="" class="form-control" id="dd" name="dd" placeholder="일" maxlength="2" required>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="institution" class="col-sm-3 col-form-label">학교</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="institution" name="institution" placeholder="">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="email" class="col-sm-3 col-form-label">이메일</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" name="email" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="phone" class="col-sm-3 col-form-label">연락처</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="" required>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 pl-4 pr-5 text-left">
                    <div class="form-group row mb-4">
                      <label for="user_id" class="col-sm-3 col-form-label">아이디</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="user_id" name="user_id"  placeholder="" maxlength="20" required>
                        <small id='id-check-duplicate' class="hidden text-danger pt-1"><i class='fas fa-exclamation-circle fa-lg'></i> 중복된 아이디입니다!</small>
                        <small id='id-check-usable' class="hidden text-success pt-1"><i class='fas fa-check-circle fa-lg'></i> 사용가능한 아이디입니다.</small>
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="password" class="col-sm-3 col-form-label">비밀번호</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="password_confirm" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="비밀번호 확인" required>
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="ref_id" class="col-sm-3 col-form-label">학번</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="ref_id" name="ref_id" placeholder="">
                      </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label for="type" class="col-sm-3 col-form-label">계정유형</label>
                      <div class="col-sm-9">
                        <select class="form-select" id="type" name="type" required>
                          <option value="">선택</option>
                          <option value="I">감독</option>
                          <option value="C">응시</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12 pr-5">
                  <!-- note: if use type="submit", the webpage will refresh and we will see the first page again, thus cannot go to the next page through this button -->
                    <button type="button" class="next-btn btn-theme btn mb-4 col-sm-2 offset-sm-10" id="nextButton">다음</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-page d-flex justify-content-center shadow mb-5 rounded">
              <div>
                <p class="info-title mb-4">회원가입</p>
                <p class="info-content mb-4">얼굴ID 등록을 위해 카메라를 봐 주십시오.</p>
                <div id="img-face-detection"><img src="../images/face-detection.png" alt="face detection"></div>
                <button class="btn-theme btn btn-block mt-4 mb-4 w-50" type="submit" id="submit" name="submit">회원가입</button>
              </div>
            </div>
          </div>

          <div class="slide-holder <%= statusCode == 200 ? "" : "hidden" %>">
            <div class="slide-page d-flex justify-content-center shadow mb-5 rounded">
              <div>
                <p class="info-title mb-4">회원가입</p>
                <p class="info-content mb-5">회원가입 정상적으로 완료되었습니다.</p>
                <div id="img-done"><img src="../images/check.png" alt="signup done"></div>
                <a class="btn-theme btn btn-block mt-4 mb-4 w-50 text-light" href="/login">확인</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- 중복 체크 스크립트 -->
  <!-- user.js로부터 넘겨준 데이터를 받아 input hidden의 값에 지정 -->
  <input type="hidden" id="regUserids" name="regUserids" value="<%= regUserids ? regUserids : "" %>"/>
  <script>
    var regUserids = $('#regUserids').val().split(",");
    $('#nextButton').attr("disabled", true);

    $('#user_id').on("input propertychange paste", function() {
      if ($('#user_id').val() == "") {
        $('#id-check-usable').addClass('hidden');
        $('#id-check-duplicate').addClass('hidden');
      } else {
        if(regUserids.includes($('#user_id').val())) {
          $('#id-check-duplicate').removeClass('hidden');
          $('#id-check-usable').addClass('hidden');
        } else {
          $('#id-check-usable').removeClass('hidden');
          $('#id-check-duplicate').addClass('hidden');
        }
      }
    });

    $('#user_id').focusout(function(){
      if ($('#id-check-usable').hasClass('hidden') == true) {
        $('#nextButton').attr("disabled", true);
        $('#submit').attr("disabled", true);
      } else {
        $('#nextButton').attr("disabled", false);
        $('#submit').attr("disabled", false);
      }
    });
  </script>

  <%- include("partials/footer"); -%>
